setup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- ════════════════════════════════════════════════════════════════════
       M346 setup.xml Schema
       Validiert die zentrale Konfigurationsdatei für aws-grader und
       aws-diagramm-checker.
       ════════════════════════════════════════════════════════════════════ -->

  <!-- ── Einfache Typen ─────────────────────────────────────────────── -->

  <xs:simpleType name="cidrType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}/\d{1,2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ipv4Type">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="boolString">
    <xs:restriction base="xs:string">
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="aclAktion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="allow"/>
      <xs:enumeration value="deny"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="routeState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active"/>
      <xs:enumeration value="blackhole"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="vpcState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="available"/>
      <xs:enumeration value="pending"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ec2State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="running"/>
      <xs:enumeration value="stopped"/>
      <xs:enumeration value="terminated"/>
      <xs:enumeration value="pending"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tenancyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="default"/>
      <xs:enumeration value="dedicated"/>
      <xs:enumeration value="host"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="endpointTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Gateway"/>
      <xs:enumeration value="Interface"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="connectivityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="public"/>
      <xs:enumeration value="private"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ── Scoring-Attribute (als Gruppen wiederverwendbar) ───────────── -->

  <xs:attributeGroup name="ndExistence">
    <xs:attribute name="nd-points-existence" type="xs:nonNegativeInteger" use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="ndPoints">
    <xs:attribute name="nd-points" type="xs:nonNegativeInteger" use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="awsPoints">
    <xs:attribute name="aws-points" type="xs:nonNegativeInteger" use="optional"/>
  </xs:attributeGroup>

  <xs:attributeGroup name="allScoring">
    <xs:attribute name="nd-points-existence" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="nd-points"           type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="aws-points"          type="xs:nonNegativeInteger" use="optional"/>
  </xs:attributeGroup>

  <!-- ── Hilfstyp: Textfeld mit nd-points + aws-points ──────────────── -->

  <xs:complexType name="scoredString" mixed="true">
    <xs:attributeGroup ref="ndPoints"/>
    <xs:attributeGroup ref="awsPoints"/>
  </xs:complexType>

  <xs:complexType name="awsScoredString" mixed="true">
    <xs:attributeGroup ref="awsPoints"/>
  </xs:complexType>

  <xs:complexType name="scoredBool" mixed="true">
    <xs:attributeGroup ref="awsPoints"/>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       Root: <bewertung>
       ════════════════════════════════════════════════════════════════════ -->

  <xs:element name="bewertung">
    <xs:complexType>
      <xs:all>
        <!-- Region -->
        <xs:element name="region" minOccurs="1">
          <xs:complexType mixed="true">
            <xs:attributeGroup ref="ndPoints"/>
            <xs:attributeGroup ref="awsPoints"/>
          </xs:complexType>
        </xs:element>

        <!-- Pflicht-Sektionen -->
        <xs:element name="vpcs"             type="vpcsType"             minOccurs="1"/>
        <xs:element name="subnets"          type="subnetsType"          minOccurs="1"/>
        <xs:element name="security-groups"  type="securityGroupsType"   minOccurs="1"/>
        <xs:element name="ec2-instances"    type="ec2InstancesType"     minOccurs="1"/>

        <!-- Optionale Sektionen -->
        <xs:element name="acls"             type="aclsType"             minOccurs="0"/>
        <xs:element name="igws"             type="igwsType"             minOccurs="0"/>
        <xs:element name="route-tables"     type="routeTablesType"      minOccurs="0"/>
        <xs:element name="eips"             type="eipsType"             minOccurs="0"/>
        <xs:element name="nat-gateways"     type="natGatewaysType"      minOccurs="0"/>
        <xs:element name="s3-buckets"       type="s3BucketsType"        minOccurs="0"/>
        <xs:element name="rds-instances"    type="rdsInstancesType"     minOccurs="0"/>
        <xs:element name="db-subnet-groups" type="dbSubnetGroupsType"   minOccurs="0"/>
        <xs:element name="vpc-endpoints"    type="vpcEndpointsType"     minOccurs="0"/>
      </xs:all>
      <xs:attribute name="la"          type="xs:string"   use="optional"/>
      <xs:attribute name="zeitstempel" type="xs:string"   use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ════════════════════════════════════════════════════════════════════
       VPCs
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="vpcsType">
    <xs:sequence>
      <xs:element name="vpc" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="cidr"          type="scoredString"    minOccurs="1"/>
            <xs:element name="state"         type="awsScoredString" minOccurs="0"/>
            <xs:element name="tenancy"       type="awsScoredString" minOccurs="0"/>
            <xs:element name="dns-support"   type="scoredBool"      minOccurs="0"/>
            <xs:element name="dns-hostnames" type="scoredBool"      minOccurs="0"/>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="ndExistence"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       ACLs
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="aclRegelType">
    <xs:attribute name="regel-nr"   type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="protokoll"  type="xs:string"             use="required"/>
    <xs:attribute name="cidr"       type="xs:string"             use="required"/>
    <xs:attribute name="aktion"     type="aclAktion"             use="required"/>
    <xs:attributeGroup ref="awsPoints"/>
  </xs:complexType>

  <xs:complexType name="aclRulesType">
    <xs:sequence>
      <xs:element name="regel" type="aclRegelType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="awsPoints"/>
  </xs:complexType>

  <xs:complexType name="aclsType">
    <xs:sequence>
      <xs:element name="acl" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="vpc-name"       type="scoredString"  minOccurs="0"/>
            <xs:element name="is-default"     type="scoredBool"    minOccurs="0"/>
            <xs:element name="inbound-rules"  type="aclRulesType"  minOccurs="0"/>
            <xs:element name="outbound-rules" type="aclRulesType"  minOccurs="0"/>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="ndExistence"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       Internet Gateways
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="igwsType">
    <xs:sequence>
      <xs:element name="igw" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="attached-vpcs" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="vpc" type="awsScoredString" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="ndExistence"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       Route Tables
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="routeType">
    <xs:attribute name="ziel"    type="xs:string"   use="required"/>
    <xs:attribute name="gateway" type="xs:string"   use="required"/>
    <xs:attribute name="state"   type="routeState"  use="required"/>
    <xs:attributeGroup ref="awsPoints"/>
  </xs:complexType>

  <xs:complexType name="routeTablesType">
    <xs:sequence>
      <xs:element name="route-table" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="vpc-name" type="scoredString"  minOccurs="0"/>
            <xs:element name="haupt"    type="scoredBool"    minOccurs="0"/>
            <xs:element name="routen"   minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="route" type="routeType" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="ndExistence"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       Subnets
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="subnetsType">
    <xs:sequence>
      <xs:element name="subnet" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="vpc-name"       type="scoredString"    minOccurs="1"/>
            <xs:element name="cidr"           type="scoredString"    minOccurs="1"/>
            <xs:element name="az"             type="awsScoredString" minOccurs="1"/>
            <xs:element name="auto-public-ip" type="scoredBool"      minOccurs="0"/>
            <xs:element name="route-table"    type="awsScoredString" minOccurs="0"/>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="ndExistence"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       Security Groups
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="sgRegelType">
    <xs:sequence>
      <xs:element name="quelle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ziel"   type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="protokoll" type="xs:string"             use="required"/>
    <xs:attribute name="von-port"  type="xs:integer"            use="required"/>
    <xs:attribute name="bis-port"  type="xs:integer"            use="required"/>
    <xs:attributeGroup ref="awsPoints"/>
  </xs:complexType>

  <xs:complexType name="sgRulesType">
    <xs:sequence>
      <xs:element name="regel" type="sgRegelType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="securityGroupsType">
    <xs:sequence>
      <xs:element name="security-group" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="vpc-name"     type="scoredString"  minOccurs="0"/>
            <xs:element name="beschreibung" type="xs:string"     minOccurs="0"/>
            <xs:element name="inbound"      type="sgRulesType"   minOccurs="0"/>
            <xs:element name="outbound"     type="sgRulesType"   minOccurs="0"/>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="ndExistence"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       EC2 Instances
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="ec2SgsType">
    <xs:sequence>
      <xs:element name="sg" type="awsScoredString" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ec2InstancesType">
    <xs:sequence>
      <xs:element name="ec2-instance" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="instance-type"   type="awsScoredString" minOccurs="0"/>
            <xs:element name="architektur"     type="awsScoredString" minOccurs="0"/>
            <xs:element name="ami"             type="scoredString"    minOccurs="0"/>
            <xs:element name="key-pair"        type="xs:string"       minOccurs="0"/>
            <xs:element name="subnet-name"     type="awsScoredString" minOccurs="0"/>
            <xs:element name="vpc-name"        type="awsScoredString" minOccurs="0"/>
            <xs:element name="public-ip"       type="xs:string"       minOccurs="0"/>
            <xs:element name="private-ip"      type="xs:string"       minOccurs="0"/>
            <xs:element name="state"           type="xs:string"       minOccurs="0"/>
            <xs:element name="security-groups" type="ec2SgsType"      minOccurs="0"/>
            <xs:element name="iam-profil"      type="xs:string"       minOccurs="0"/>
            <xs:element name="userdata"        type="xs:string"       minOccurs="0"/>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="ndExistence"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       Elastic IPs
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="eipsType">
    <xs:sequence>
      <xs:element name="eip" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="instance-name" type="awsScoredString" minOccurs="0"/>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="ndExistence"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       NAT Gateways
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="natGatewaysType">
    <xs:sequence>
      <xs:element name="nat-gateway" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="subnet-name"      type="xs:string"       minOccurs="1"/>
            <xs:element name="connectivity-type" type="xs:string"       minOccurs="0"/>
            <xs:element name="eip-name"          type="xs:string"       minOccurs="0"/>
            <xs:element name="route-table"       type="xs:string"       minOccurs="0"/>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="ndExistence"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       S3 Buckets
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="publicAccessBlockType">
    <xs:all>
      <xs:element name="BlockPublicAcls"       type="boolString" minOccurs="0"/>
      <xs:element name="IgnorePublicAcls"      type="boolString" minOccurs="0"/>
      <xs:element name="BlockPublicPolicy"     type="boolString" minOccurs="0"/>
      <xs:element name="RestrictPublicBuckets" type="boolString" minOccurs="0"/>
    </xs:all>
    <xs:attributeGroup ref="awsPoints"/>
  </xs:complexType>

  <xs:complexType name="bucketPolicyType">
    <xs:all>
      <xs:element name="vorhanden"      type="boolString" minOccurs="0"/>
      <xs:element name="vpce-condition" type="boolString" minOccurs="0"/>
    </xs:all>
    <xs:attributeGroup ref="awsPoints"/>
  </xs:complexType>

  <xs:complexType name="s3BucketsType">
    <xs:sequence>
      <xs:element name="s3-bucket" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="region"              type="awsScoredString"      minOccurs="0"/>
            <xs:element name="public-access-block" type="publicAccessBlockType" minOccurs="0"/>
            <xs:element name="bucket-policy"       type="bucketPolicyType"     minOccurs="0"/>
            <xs:element name="website-hosting"     type="scoredBool"           minOccurs="0"/>
            <xs:element name="index-document"      type="awsScoredString"      minOccurs="0"/>
            <xs:element name="error-document"      type="awsScoredString"      minOccurs="0"/>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       RDS Instances
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="rdsInstancesType">
    <xs:sequence>
      <xs:element name="rds-instance" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="engine"                  type="awsScoredString" minOccurs="0"/>
            <xs:element name="engine-version"          type="awsScoredString" minOccurs="0"/>
            <xs:element name="instance-class"          type="awsScoredString" minOccurs="0"/>
            <xs:element name="allocated-storage"       type="awsScoredString" minOccurs="0"/>
            <xs:element name="storage-type"            type="awsScoredString" minOccurs="0"/>
            <xs:element name="master-username"         type="awsScoredString" minOccurs="0"/>
            <xs:element name="multi-az"                type="scoredBool"      minOccurs="0"/>
            <xs:element name="publicly-accessible"     type="scoredBool"      minOccurs="0"/>
            <xs:element name="subnet-group"            type="awsScoredString" minOccurs="0"/>
            <xs:element name="security-group"          type="awsScoredString" minOccurs="0"/>
            <xs:element name="backup-retention-period" type="xs:string"       minOccurs="0"/>
            <xs:element name="skip-final-snapshot"     type="xs:string"       minOccurs="0"/>
            <xs:element name="deletion-protection"     type="xs:string"       minOccurs="0"/>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       DB Subnet Groups
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="dbSubnetGroupsType">
    <xs:sequence>
      <xs:element name="db-subnet-group" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="beschreibung" type="awsScoredString" minOccurs="0"/>
            <xs:element name="subnets" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subnet" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="awsPoints"/>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════════════════
       VPC Endpoints
       ════════════════════════════════════════════════════════════════════ -->

  <xs:complexType name="vpcEndpointsType">
    <xs:sequence>
      <xs:element name="vpc-endpoint" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="service"           type="awsScoredString" minOccurs="0"/>
            <xs:element name="typ"               type="awsScoredString" minOccurs="0"/>
            <xs:element name="vpc-name"          type="awsScoredString" minOccurs="0"/>
            <xs:element name="policy-vollzugriff" type="scoredBool"     minOccurs="0"/>
            <xs:element name="route-tables" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="route-table" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attributeGroup ref="awsPoints"/>
              </xs:complexType>
            </xs:element>
          </xs:all>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attributeGroup ref="awsPoints"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
